---
import { API, GraphQLQuery } from "@aws-amplify/api";
import config from "../aws-exports";
import { submitContact } from "../graphql/mutations";

API.configure(config);

// console.log("test");

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name");
    const email = data.get("email");
    const phone = data.get("phone");
    console.log(`Data: ${phone} ${email} ${name}`);
    // const { name, phone, email } = data;
    const response = await API.graphql({
      query: submitContact,
      variables: {
        input: {
          name: name,
          phone: phone,
          email: email,
        },
      },
    });
    console.log(response);
  } catch (error) {
    if (error instanceof Error) {
      //   console.log(error.message);
      console.error(error);
      throw error;
    }
  }
}
---

<h1>Register</h1>
<form method="POST">
  <label>
    Name:
    <input type="text" name="name" required />
  </label>
  <label>
    Email:
    <input type="email" name="email" required />
  </label>
  <label>
    Phone:
    <input type="text" name="phone" required minlength="6" />
  </label>
  <button>Submit</button>
</form>
