---
import { Amplify, API, withSSRContext } from "aws-amplify";
import config from "../aws-exports";
import { submitContact } from "../graphql/mutations";

Amplify.configure({ ...config });

if (Astro.request.method === "POST") {
  const SSR = withSSRContext();
  const data = await Astro.request.formData();
  await SSR.API.graphql({
    query: submitContact,
    variables: {
      input: {
        name: data.get("name"),
        phone: data.get("email"),
        email: data.get("phone"),
      },
    },
  });
}
---

<h1>Register</h1>
<form method="POST">
  <label>
    Name:
    <input type="text" name="name" required />
  </label>
  <label>
    Email:
    <input type="email" name="email" required />
  </label>
  <label>
    Phone:
    <input type="text" name="phone" required minlength="6" />
  </label>
  <button>Submit</button>
</form>
