---
import { Amplify, API, withSSRContext } from "aws-amplify";
import config from "../aws-exports";
import { submitContact } from "../graphql/mutations";

Amplify.configure({ ...config, ssr: true });

if (Astro.request.method === "POST") {
  const SSR = withSSRContext();
  const data = await Astro.request.formData();
  const name = data.get("name");
  const email = data.get("email");
  const phone = data.get("phone");
  console.log(`Data: ${phone} ${email} ${name}`);
  const response = await SSR.API.graphql({
    query: submitContact,
    variables: {
      input: {
        name: name,
        phone: phone,
        email: email,
      },
    },
  });
  console.log(response);
}
---

<h1>Register</h1>
<form method="POST">
  <label>
    Name:
    <input type="text" name="name" required />
  </label>
  <label>
    Email:
    <input type="email" name="email" required />
  </label>
  <label>
    Phone:
    <input type="text" name="phone" required minlength="6" />
  </label>
  <button>Submit</button>
</form>
