---
import { Amplify, API, withSSRContext } from "aws-amplify";
import config from "../aws-exports";
import { submitContact } from "../graphql/mutations";

Amplify.configure({ ...config });

if (Astro.request.method === "POST") {
    try {
        const SSR = withSSRContext();
        const data = await Astro.request.formData();
        await SSR.API.graphql({
            query: submitContact,
            variables: {
                input: {
                    name: data.get("name"),
                    phone: data.get("email"),
                    email: data.get("phone"),
                },
            },
        });
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}
---

<div class="section">
    <div id="contact-form" class="contact-form">
        <div class="frame-2">
            <div class="text-6">LET&#x27;S TALK!</div>
        </div>
        <div class="w-form">
            <form
                id="wf-form-Contact-Form"
                name="wf-form-Contact-Form"
                data-name="Contact Form"
                method="POST"
                class="form"
            >
                <label for="name" class="field-label">Name</label><input
                    type="text"
                    class="text-field-2 name w-input"
                    maxlength="256"
                    name="name"
                    data-name="Name"
                    placeholder="Enter your full name"
                    id="name"
                /><label for="email" class="field-label">Email address</label
                ><input
                    type="email"
                    class="text-field-3 email w-input"
                    maxlength="256"
                    name="email"
                    data-name="Email"
                    placeholder="Enter your email address"
                    id="email"
                    required=""
                /><label for="Phone-number" class="field-label"
                    >Phone number</label
                ><input
                    type="tel"
                    class="text-field phone w-input"
                    maxlength="256"
                    name="phone"
                    data-name="Phone number"
                    placeholder="Enter your phone number"
                    id="Phone-number"
                /><input
                    type="submit"
                    value="// REACH OUT"
                    data-wait="Please wait..."
                    class="button reach-out w-button"
                />
            </form>
            <div class="success-message w-form-done">
                <div class="text-block">
                    Thank you! We&#x27;ll be in touch soon.
                </div>
            </div>
            <div class="error-message w-form-fail">
                <div class="text-block-2">
                    Oops! Something went wrong while submitting the form. Please
                    try again.
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .section {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding-top: 64px;
        padding-bottom: 64px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-image: linear-gradient(301deg, #303030, #181818);
    }
    .contact-form {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding-top: 72px;
        padding-bottom: 24px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        grid-column-gap: 32px;
        grid-row-gap: 32px;
    }

    .frame-2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

    .text-6 {
        font-family: Electrolize, sans-serif;
        color: #fff;
        font-size: 32px;
        line-height: 150%;
        font-weight: 400;
        letter-spacing: 0em;
    }

    .w-form {
        max-width: 500px;
        margin: 0 0 15px;
        width: 85%;
    }

    .w-form-done {
        display: none;
        padding: 20px;
        text-align: center;
        background-color: #dddddd;
    }
    .w-form-fail {
        display: none;
        margin-top: 10px;
        padding: 10px;
        background-color: #ffdede;
    }

    .form {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .field-label {
        font-family: "Titillium Web", sans-serif;
        color: #fff;
        font-weight: 400;
    }

    .w-input,
    .w-select {
        display: block;
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }

    .text-field {
        margin-bottom: 32px;
    }

    .text-field-3 {
        margin-bottom: 24px;
    }

    .button:hover {
        background-color: #00e399;
        color: #181818;
    }

    .button:active {
        box-shadow: inset 2px 2px 0 1px #000;
    }

    .button.reach-out {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .button.reach-out:active {
        border-color: #00e399;
        box-shadow: inset 3px 3px 0 2px #000;
    }

    .button.header {
        margin-right: 0px;
        margin-left: 24px;
    }

    .w-button {
        color: white;
        border: 0;
        line-height: inherit;
        cursor: pointer;
        border-radius: 0;
    }
    input.w-button {
        -webkit-appearance: button;
    }

    @media screen and (max-width: 767px) {
        .button.reach-out {
            padding-right: 24px;
            padding-left: 24px;
        }
    }

    .button {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-flex: 0;
        flex: 0 auto;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        border-style: solid;
        border-width: 1px;
        border-color: #00e399;
        background-color: transparent;
        transition: background-color 400ms ease;
        font-family: "Titillium Web", sans-serif;
        font-weight: 300;
        letter-spacing: 4px;
        text-decoration: none;
    }
</style>
