<div class="hero-heading-left">
    <div class="hero-container">
        <div class="hero-column">
            <div class="hero-content">
                <h1>Remove friction from your business -- Start Serverless</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros elementum tristique. Duis
                    cursus, mi quis viverra ornare, eros dolor interdum nulla,
                    ut commodo diam libero vitae erat.
                </p>
                <button class="button-cta">Get Started</button>
            </div>
        </div>
        <div class="hero-column-img">
            <img
                src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
                alt=""
            />
        </div>
    </div>
</div>

<style>
    .button-cta {
        height: 41px;
        width: 130px;
        color: #424242;
        line-height: 140%;
        transition-duration: 0.1s;
    }

    .button-cta:hover {
        background-color: #00e399;
        color: black;
        border: none;
        font-weight: bold;
    }
    .hero-heading-left {
        display: flex;
        flex-direction: row;
        padding: 64px 24px;
        width: 100%;
        height: 520px;
    }

    .hero-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: 0px 150px;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .hero-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 0px;
        width: 560px;
    }

    .hero-column-img img {
        width: 100%;
        max-width: 600px;
        height: auto;
    }
    h1 {
        text-transform: capitalize;
        font-family: Electrolize;
        font-size: 56px;
        margin: 0;
    }
</style>
