<div class="hero-heading-left-2">
  <div class="container-4 hero-content">
    <div
      data-w-id="ceed402c-600d-7e04-1ef3-a9bc6325c48f"
      style="opacity:0"
      class="hero-image-column bg-arrow mobile"
    >
      <img
        src="assets/Vectors-Wrapper_4.svg"
        loading="lazy"
        style="opacity:0"
        data-w-id="ceed402c-600d-7e04-1ef3-a9bc6325c490"
        alt=""
        class="hero-img"
      />
    </div>
    <div class="hero-text-column">
      <div class="hero-text-column">
        <h1 class="title-copy-goes-here-be-awesome-2">
          Business Evolves. <br />Start Serverless.<br />
        </h1>
        <p class="paragraph-wrap">
          <span class="hero-subline"
            >Outpace your competitors with infinitely scalable, cost-effective
            and fast-to-market technology.
          </span>
        </p>
      </div>
      <div class="actions">
        <a href="#contact-form" class="button-2">
          <div class="text-2">
            <div class="text-2">
              <span class="get-started-1 large">// GET STARTED</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div
      data-w-id="05779950-f8e5-7e77-58cf-1b7f46f3eb4d"
      style="opacity:0"
      class="hero-image-column bg-arrow homepage"
    >
      <img
        src="assets/Vectors-Wrapper_4.svg"
        loading="lazy"
        alt=""
        class="hero-img"
      />
    </div>
  </div>
</div>

<style>
  .text-2 {
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
  }

  .container-4 {
    display: flex;
    width: 100%;
    max-width: 1200px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
  }

  .hero-heading-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 124px 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
  }

  .hero-heading-left-2 {
    display: flex;
    width: 100%;
    padding-right: 24px;
    padding-bottom: 124px;
    padding-left: 24px;
    -webkit-box-pack: center;
    justify-content: center;
    /* -webkit-justify-content: center; */
    -webkit-box-align: start;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    background-image: linear-gradient(
      -63.91deg,
      #181818,
      #303030 50%,
      #181818 97%
    );
  }

  .hero-heading-left-2:hover {
    background-image: linear-gradient(
      -63.91deg,
      #181818,
      #303030 50%,
      #181818 97%
    );
  }

  .hero-subline {
    font-family: Titillium Web, sans-serif;
    color: #fff;
    font-size: 24px;
    line-height: 150%;
    font-weight: 400;
    letter-spacing: 0em;
  }

  .hero-content {
    padding-right: 0px;
    padding-left: 0px;
    grid-column-gap: 48px;
    grid-row-gap: 48px;
  }

  .hero-text-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .hero-content.about {
    padding-right: 64px;
    padding-left: 64px;
  }

  .hero-image-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .hero-image-column.bg-arrow {
    padding-top: 38px;
    padding-bottom: 38px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url("/assets/grid-bg.svg");
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: scroll;
    background-clip: padding-box;
    -webkit-text-fill-color: inherit;
  }

  .hero-image-column.bg-arrow.homepage {
    background-image: url("/assets/Group-25-1.svg");
  }

  .hero-image-column.mobile {
    display: none;
  }

  .hero-img {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 150%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -webkit-transition: -webkit-transform 1000ms ease;
    transition: -webkit-transform 1000ms ease;
    transition: transform 1000ms ease;
    transition: transform 1000ms ease, -webkit-transform 1000ms ease;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .hero-img:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
  }

  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
  }

  .f2wf-columns {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 560px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  /* .title-copy-goes-here-be-awesome {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: Electrolize, sans-serif;
    color: #fff;
    font-size: 54px;
    line-height: 120.00000476837158%;
    font-weight: 400;
    letter-spacing: 0em;
  } */

  .title-copy-goes-here-be-awesome-2 {
    font-family: Electrolize, sans-serif;
    color: #fff;
    font-size: 51px;
    line-height: 120.00000476837158%;
    font-weight: 400;
    letter-spacing: 0em;
    /* text-align: center; */
  }

  .paragraph-wrap {
    color: #fff;
    font-size: 24px;
    line-height: 150%;
    font-weight: undefined;
    letter-spacing: 0em;
  }

  .actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .button-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #00e399;
    color: #00e399;
    text-decoration: none;
  }

  .get-started-1 {
    display: block;
    padding: 8px 16px;
    font-family: "Titillium Web", sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 139.9999976158142%;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .get-started-1:hover {
    color: #181818;
  }

  .get-started-1.large {
    padding: 16px 24px;
    -webkit-transition: background-color 400ms ease;
    transition: background-color 400ms ease;
  }

  .get-started-1.large:hover {
    background-color: #00e399;
  }

  .get-started-1.large:active {
    box-shadow: inset 3px 3px 0 1px #000;
  }
</style>
