---
export interface Props {
    img1: string;
    img2: string;
}

const { img1, img2 } = Astro.props;
---

<div class="hero-heading-left">
    <div class="hero-content">
        <div class="hero-text-column">
            <div class="hero-text-column">
                <slot name="header" />
                <slot name="subline" />
            </div>
            <div class="actions">
                <a href="#contact-form" class="button-2">
                    <span class="get-started-1 large">// GET STARTED</span>
                </a>
            </div>
        </div>
        <div class="bg-arrow">
            <img src={img1} loading="lazy" alt="" class="hero-img" />
        </div>
    </div>
</div>

<style>
    .hero-heading-left {
        align-items: flex-start;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        padding: 124px 24px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        grid-column-gap: 80px;
        grid-row-gap: 80px;
        background-image: linear-gradient(
            -63.91deg,
            #181818,
            #303030 50%,
            #181818 97%
        );
    }

    .hero-heading-left:hover {
        background-image: linear-gradient(
            -63.91deg,
            #181818,
            #303030 50%,
            #181818 97%
        );
    }

    .hero-content {
        display: flex;
        width: 100%;
        max-width: 1200px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-items: center;
        align-items: center;
        padding-right: 0px;
        padding-left: 0px;
        grid-column-gap: 48px;
        grid-row-gap: 48px;
    }

    .hero-text-column {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

    .hero-image-column {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .bg-arrow {
        padding-top: 38px;
        padding-bottom: 38px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-image: url("/assets/Group-25-1.svg");
        background-position: 50% 50%;
        background-size: cover;
        background-attachment: scroll;
        background-clip: padding-box;
        -webkit-text-fill-color: inherit;
        flex-direction: column;
        /* transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); */
        transform-style: preserve-3d;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }

    .actions {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: 32px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

    .button-2 {
        -webkit-transition: background-color 200ms ease;
        transition: background-color 200ms ease;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        border-style: solid;
        border-width: 1px;
        border-color: #00e399;
        color: #00e399;
        text-decoration: none;
    }

    .get-started-1 {
        display: block;
        padding: 8px 16px;
        font-family: "Titillium Web", sans-serif;
        color: #fff;
        font-size: 16px;
        line-height: 139.9999976158142%;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .get-started-1:hover {
        color: #181818;
    }

    .get-started-1.large {
        padding: 16px 24px;
        -webkit-transition: background-color 400ms ease;
        transition: background-color 400ms ease;
    }

    .get-started-1.large:hover {
        background-color: #00e399;
    }

    .get-started-1.large:active {
        box-shadow: inset 3px 3px 0 1px #000;
    }

    @media screen and (max-width: 991px) {
        .hero-heading-left {
            padding-top: 48px;
            padding-right: 88px;
            padding-left: 88px;
        }

        .hero-content {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column-reverse;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            grid-column-gap: 56px;
            grid-row-gap: 56px;
        }

        .hero-image-column {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-align: start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
        }

        .bg-arrow {
            padding-top: 38px;
            padding-bottom: 38px;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            /* background-image: url({img2}); */
            background-position: 50% 50%;
            background-size: cover;
            background-attachment: scroll;
            background-clip: padding-box;
            -webkit-text-fill-color: inherit;
            width: 100%;
            padding-right: 16px;
            padding-left: 16px;
            background-clip: padding-box;
            -webkit-text-fill-color: inherit;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;
            -webkit-box-flex: 0;
            -webkit-flex: 0 auto;
            -ms-flex: 0 auto;
            flex: 0 auto;
            background-image: url("../assets/Group-25-1.svg");
        }

        .hero-img {
            position: relative;
            /* z-index: 1; */
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            width: 150%;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            -webkit-transition: -webkit-transform 1000ms ease;
            transition: -webkit-transform 1000ms ease;
            transition: transform 1000ms ease;
            transition: transform 1000ms ease, -webkit-transform 1000ms ease;
            -o-object-fit: cover;
            object-fit: cover;
        }

        .hero-img:hover {
            -webkit-transform: scale(1.04);
            -ms-transform: scale(1.04);
            transform: scale(1.04);
        }

        .container {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-flex: 0;
            -webkit-flex: 0 auto;
            -ms-flex: 0 auto;
            flex: 0 auto;
            grid-column-gap: 80px;
            grid-row-gap: 80px;
        }
    }

    @media screen and (max-width: 767px) {
        .bg-arrow {
            width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            background-clip: padding-box;
            -webkit-text-fill-color: inherit;
        }
    }

    @media screen and (max-width: 479px) {
        .bg-arrow {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
</style>
