---
import Layout from "./Layout.astro";
---

<Layout title="Blog">
    <body>
        <div class="hero">
            <h1 class="heading">THINK / SERVERLESS</h1>
        </div>
        <div class="content">
            <slot />
        </div>
    </body>
</Layout>

<style>
    .hero {
        display: flex;
        padding-top: 110px;
        padding-bottom: 110px;
        -webkit-box-pack: center;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(45deg, #00d0b7, #00e399);
    }

    .heading {
        font-family: Electrolize, sans-serif;
        font-size: 54px;
        text-align: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #fff;
    }

    @media screen and (max-width: 767px) {
        .heading {
            line-height: 70.2px;
        }

        .hero {
            padding-left: 36px;
            padding-right: 36px;
        }
    }

    @media screen and (max-width: 479px) {
        .heading {
            font-size: 40px;
            line-height: 52px;
        }
    }
</style>
