---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import grid from "../images/grid.svg";
import greenLogo from "../images/green-logo.svg";
---

<Layout title="About">
    <main class="page">
        <Navbar />
        <Hero mainImg={greenLogo.src} backgroundImg={grid.src}>
            <h1 class="title" slot="header">
                Driving Your Success through Frictionless Solutions
            </h1>
            <span class="subline" slot="subline">
                At Start Serverless, we are dedicated to helping businesses
                thrive with the power of serverless solutions. Our expert team
                delivers scalable, cost-efficient, and event-driven
                architectures tailored to your meet business goals.
            </span>
        </Hero>
        <Contact className="black" />
    </main>
</Layout>

<style>
    .page {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        align-items: flex-start;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: #181818;
    }

    .title {
        margin: 0.67em 0;
        margin-bottom: 10px;
        margin-top: 20px;
        font-family: Electrolize, sans-serif;
        color: #fff;
        font-size: 51px;
        line-height: 120.00000476837158%;
        font-weight: 400;
        letter-spacing: 0em;
    }

    .subline {
        font-family: Titillium Web, sans-serif;
        color: #fff;
        font-size: 24px;
        line-height: 150%;
        font-weight: 400;
        letter-spacing: 0em;
    }

    @media screen and (max-width: 479px) {
        .title {
            font-size: 32px;
            text-align: center;
            width: 100%;
            margin: 0;
        }
    }
</style>
