---
---

<script>
    function setFormState(state: string) {
        const form = document.querySelector(".w-form") as HTMLElement;
        form.style.display = "none";
        if (state == "success") {
            const success = document.querySelector(".form-done") as HTMLElement;
            console.log(success);
            success.style.display = "flex";
        } else if (state == "error") {
            const error = document.querySelector(".form-fail") as HTMLElement;
            console.log(error);
            error.style.display = "flex";
        }
    }

    interface FormData {
        name: string;
        email: string;
        phone: string;
    }
    const form = document.querySelector("form") as HTMLFormElement;
    form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const nameInput = form.querySelector(
            'input[name="name"]'
        ) as HTMLInputElement;
        const emailInput = form.querySelector(
            'input[name="email"]'
        ) as HTMLInputElement;
        const phoneInput = form.querySelector(
            'input[name="phone"]'
        ) as HTMLInputElement;

        const data: FormData = {
            name: nameInput.value,
            email: emailInput.value,
            phone: phoneInput.value,
        };

        console.log(import.meta.env.API_URL);

        const response = await fetch(
            `${import.meta.env.PUBLIC_API_URL}/contact`,
            {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            }
        )
            .then((response) => {
                if (response.ok) {
                    setFormState("success");
                }
            })
            .catch((e) => {
                setFormState("erorr");
            });
    });
</script>
<div class="section">
    <div id="contact-form" class="contact-form">
        <div class="title">LET&#x27;S TALK!</div>
        <div class="form-fail">
            <div class="text-block-2">
                Oops! Something went wrong while submitting the form. Please try
                again.
            </div>
        </div>
        <div class="form-done">
            <div class="text-block">
                Thank you! We&#x27;ll be in touch soon.
            </div>
        </div>
        <div class="w-form">
            <form id="form" class="form">
                <label for="name" class="field-label"> Name</label>
                <input
                    type="text"
                    class="text-field name w-input"
                    maxlength="20"
                    name="name"
                    placeholder="Enter your full name"
                    id="name"
                    required
                />
                <label for="email" class="field-label"> Email address</label>
                <input
                    type="email"
                    class="text-field email w-input"
                    name="email"
                    placeholder="Enter your email address"
                    id="email"
                    required
                />
                <label for="phone" class="field-label"> Phone number</label>
                <input
                    type="tel"
                    class="text-field phone w-input"
                    maxlength="10"
                    name="phone"
                    placeholder="Enter your phone number"
                    id="phone"
                    required
                />
                <input
                    type="submit"
                    value="// REACH OUT"
                    data-wait="Please wait..."
                    class="button reach-out w-button"
                />
            </form>
        </div>
    </div>
</div>

<style>
    .section {
        display: flex;
        width: 100%;
        padding-top: 64px;
        padding-bottom: 64px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-image: linear-gradient(301deg, #303030, #181818);
    }

    .section.black {
        background-image: none;
    }

    .contact-form {
        display: flex;
        width: 100%;
        padding-top: 72px;
        padding-bottom: 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column-gap: 32px;
        grid-row-gap: 32px;
    }

    .title {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 0 auto;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        font-family: Electrolize, sans-serif;
        color: #fff;
        font-size: 32px;
        line-height: 150%;
        font-weight: 400;
        letter-spacing: 0em;
    }

    .w-form {
        max-width: 500px;
        margin: 0 0 15px;
        width: 85%;
    }

    .form-done {
        display: none;
        padding: 20px;
        text-align: center;
        border: 1px solid #00e399;
        color: #fff;
    }

    .form-fail {
        display: none;
        border-left: 5px solid #db0303;
        padding: 10px;
        background-color: #e6e6e6;
    }

    .form {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .field-label {
        font-family: "Titillium Web", sans-serif;
        color: #fff;
        font-weight: 400;
    }

    .w-input,
    .w-select {
        display: block;
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }

    .text-field {
        margin-bottom: 24px;
        flex-direction: column;
    }

    .button:hover {
        background-color: #00e399;
        color: #181818;
    }

    .button:active {
        box-shadow: inset 2px 2px 0 1px #000;
    }

    .button.reach-out {
        margin-top: 20px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .button.reach-out:active {
        border-color: #00e399;
        box-shadow: inset 3px 3px 0 2px #000;
    }

    .button.header {
        margin-right: 0px;
        margin-left: 24px;
    }

    .w-button {
        color: white;
        border: 0;
        line-height: inherit;
        cursor: pointer;
        border-radius: 0;
    }
    input.w-button {
        -webkit-appearance: button;
    }

    @media screen and (max-width: 767px) {
        .button.reach-out {
            padding-right: 24px;
            padding-left: 24px;
        }
    }

    .button {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-flex: 0;
        flex: 0 auto;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        border-style: solid;
        border-width: 1px;
        border-color: #00e399;
        background-color: transparent;
        transition: background-color 400ms ease;
        font-family: "Titillium Web", sans-serif;
        font-weight: 300;
        letter-spacing: 4px;
        text-decoration: none;
    }
</style>
