---
import Service from "./Service.astro";
---

<div class="services">
    <Service title="Consulting" body='Should your team require dependable and ongoing support while embarking on their serverless journey, I provide a monthly retainer service that grants unrestricted access to me for calls, emails, asynchronous reviews, or brief conversations.' buttonText="" />
    <Service title="Projects" body='Should your team require dependable and ongoing support while embarking on their serverless journey, I provide a monthly retainer service that grants unrestricted access to me for calls, emails, asynchronous reviews, or brief conversations.' buttonText="" />
    <Service title="Architecture Review" body='Should your team require dependable and ongoing support while embarking on their serverless journey, I provide a monthly retainer service that grants unrestricted access to me for calls, emails, asynchronous reviews, or brief conversations.' buttonText="" />
    <Service title="Consulting Calls" body='Should your team require dependable and ongoing support while embarking on their serverless journey, I provide a monthly retainer service that grants unrestricted access to me for calls, emails, asynchronous reviews, or brief conversations.' buttonText="" />
    <Service
        title="Advisory Retainer"
        body='Should your team require dependable and ongoing support while embarking on their serverless journey, I provide a monthly retainer service that grants unrestricted access to me for calls, emails, asynchronous reviews, or brief conversations.'
        buttonText=""
    />
</div>
<style>
    .services {
        background-image: linear-gradient(301deg, #303030, #181818);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
</style>
